<header>
    <h1>Apuntes de angular basico</h1>
</header>
<section class="margin-right-20px">
    <div class="body">
        <div class="items">
            <app-nuevo-componente></app-nuevo-componente>
        </div>
        <div class="items">
            <app-interpolacion></app-interpolacion> 
        </div>
        <div class="items">
            <app-property-binding></app-property-binding>
        </div>
        <div class="items">
            <app-event-binding></app-event-binding>
        </div>
        <div class="items">
            <app-two-way-binding></app-two-way-binding>
        </div>
        <div class="items">
            <app-directiva-ngif></app-directiva-ngif>
        </div>
        <div class="items">
            <app-directiva-ngfor></app-directiva-ngfor>
        </div>
        <div class="items">
            <app-practica-dos></app-practica-dos>
        </div>
        <div class="items">
            <app-ng-class-style></app-ng-class-style>
        </div>
        <div class="items" >
            <app-comunicando-componentes1></app-comunicando-componentes1>
        </div>
        <div class="items">
            <app-comunicando-componentes2></app-comunicando-componentes2>
        </div>
        <div class="items"> 
            <app-servicios-uno></app-servicios-uno>
        </div>
        <div class="items">
            <app-servicios-dos></app-servicios-dos>
        </div>
        <div class="items">
            <app-servicos-tres></app-servicos-tres>
        </div>
        <div class="items">
            <app-routing-uno></app-routing-uno>
        </div>
    </div>
</section>